body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #222;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#layout {
    display: flex;
    height: calc(100vh - 80px);
}

#sidebar {
    width: 250px;
    background: #333;
    color: #fff;
    padding: 20px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar li {
    padding: 10px 0;
    cursor: pointer;
}

#sidebar li:hover {
    background: #444;
}

#main-panel {
    flex: 1;
    padding: 20px;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#sidebar li.active {
    background: #555;
    font-weight: bold;
}